
   <div class="container">
    <app-header></app-header>
        <div class="wrapper">
            <div class="box box1">
                <p class="font1">
                    Hello world! I am Blessing Mbony, a FrontEnd developer 
                    <br> based out of toronto. From Interior Designing of properties 
                    <br> to lines of codes of a web page, I love combining the worlds of logic and creative design 
                    <br> to make eye-catching, accessible and user-friendly websites and applications.
                </p>
            </div>
            <div class="box box2">
                <p class="font1">
                    Technology leads, society follows. The move towards inceasing 
                    <br> inclusivity and diversity in the inductry through representation is of 
                    <br> importance to me. I am excited to make the leap and continue 
                    <br> refining my skills with the right company.
                </p>
            </div>
            <div class="box box3">
                <p class="font1">
                    I am currently a web developer for Resifia
                    <br> inclusivity and diversity in the inductry through representation is of 
                    <br> importance to me. I am excited to make the leap and continue 
                    <br> refining my skills with the right company.
                </p>
            </div>
            <div class="box box4"></div>
        </div>
    </div>

